# Remove once #5066 is resolved.
common --enable_workspace
# Enable once #5066 is resolved.
common --noenable_bzlmod

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Force the use of Clang for all builds.
build --action_env=CC=clang
build --action_env=CXX=clang++
