---
Checks:
'clang-diagnostic-*,
clang-analyzer-*,
modernize-*,
performance-*,
readability-*,
bugprone-*,
cppcoreguidelines-*,
boost-*,
hicpp-*,
misc-*,
llvm-*,
google-*,
abseil-*,
-modernize-use-trailing-return-type,
-misc-confusable-identifiers,
-readability-identifier-length,
-cppcoreguidelines-owning-memory,
-bugprone-easily-swappable-parameters,
-llvm-header-guard,
-misc-no-recursion'
FormatStyle: file
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor: true
CheckOptions:
  - { key: readability-identifier-naming.StaticVariableCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantPrefix,     value: K_         }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantPrefix,     value: K_         }
  - { key: readability-identifier-naming.NamespaceCase,            value: CamelCase  }
  - { key: readability-identifier-naming.ClassCase,                value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,               value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,    value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,             value: camelCase  }
  - { key: readability-identifier-naming.VariableCase,             value: camelCase  }
  - { key: readability-identifier-naming.ClassMemberCase,          value: camelCase  }
  - { key: readability-identifier-naming.PrivateMemberCase,        value: camelCase  }
  - { key: readability-identifier-naming.ProtectedMemberCase,      value: camelCase  }
  - { key: readability-identifier-naming.PrivateMemberPrefix,      value: _          }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,    value: _          }
  - { key: readability-identifier-naming.EnumConstantCase,         value: camelCase  }
  - { key: readability-identifier-naming.EnumConstantPrefix,       value: k          }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: camelCase  }
  - { key: readability-identifier-naming.ConstexprVariablePrefix,  value: k          }
  - { key: readability-identifier-naming.MemberConstantCase,       value: camelCase  }
  - { key: readability-identifier-naming.MemberConstantPrefix,     value: k          }
  - { key: readability-function-cognitive-complexity.IgnoreMacros, value: true       }
  - { key: cppcoreguidelines-avoid-do-while.IgnoreMacros,          value: true       }
  - { key: misc-const-correctness.AnalyzeValues,                   value: false      }

...
