[submodule "test/frameworks/gtest"]
	path = test/frameworks/gtest
	url = https://github.com/google/googletest.git
	ignored = untracked
[submodule "control-plane/p4runtime"]
	path = control-plane/p4runtime
	url = https://github.com/p4lang/p4runtime.git
[submodule "backends/ebpf/runtime/contrib/libbpf"]
	path = backends/ebpf/runtime/contrib/libbpf
	url = https://github.com/libbpf/libbpf
	ignore = dirty
