###### Python3 dependencies with version specifiers ######
# Install with pip3 install --user -r requirements.txt
ipaddr==2.2.0
pyroute2==0.7.3
ply==3.11
ptf==0.9.3
scapy==2.4.5
clang-format==15.0.6
yapf==0.32.0
