#!/usr/bin/make -f

DH_VERBOSE = 1

%:
	dh $@ --with python2,python3

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=DEBUG -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/ install

# dwz reports: elf_update failed
override_dh_dwz:
	dh_dwz -Xp4c-bm2-psa -Xp4c-bm2-ss -Xp4c-dpdk -Xp4c-ebpf -Xp4c-graphs -Xp4c-ubpf -X p4test
