# SPDX-FileCopyrightText: 2022 The P4 Language Consortium
#
# SPDX-License-Identifier: Apache-2.0

/build
/.vscode
/.cache
p4c
# Emacs auto-save
*~

# vim savefiles
.*.sw?

# Compiled Python files
*.pyc

# Mac OS files
.DS_Store
._*
