#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/const_entries_range_mask numtables 1

$TC p4template create action/const_entries_range_mask/MainControlImpl/a actid 1
$TC p4template update action/const_entries_range_mask/MainControlImpl/a state active

$TC p4template create action/const_entries_range_mask/MainControlImpl/a_with_control_params actid 2 \
	param x type bit16
$TC p4template update action/const_entries_range_mask/MainControlImpl/a_with_control_params state active

$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range \
	tblid 1 \
	type ternary \
	keysz 8 permissions 0x3da4 tentries 1024 nummasks 8 \
	table_acts act name const_entries_range_mask/MainControlImpl/a \
	act name const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template update table/const_entries_range_mask/MainControlImpl/t_range default_miss_action action const_entries_range_mask/MainControlImpl/a
$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range entry h.h.r 1 permissions 0x1024 action const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range entry h.h.r 6 permissions 0x1024 action const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range entry h.h.r 15 permissions 0x1024 action const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range entry h.h.r 8w1..8w8 permissions 0x1024 action const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template create table/const_entries_range_mask/MainControlImpl/t_range entry h.h.r 8w1&&&8w2 permissions 0x1024 action const_entries_range_mask/MainControlImpl/a_with_control_params
$TC p4template update pipeline/const_entries_range_mask state ready