#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/default_hit_const_example numtables 1

$TC p4template create action/default_hit_const_example/MainControlImpl/tcp_syn_packet actid 1
$TC p4template update action/default_hit_const_example/MainControlImpl/tcp_syn_packet state active

$TC p4template create action/default_hit_const_example/MainControlImpl/tcp_fin_or_rst_packet actid 2
$TC p4template update action/default_hit_const_example/MainControlImpl/tcp_fin_or_rst_packet state active

$TC p4template create action/default_hit_const_example/MainControlImpl/tcp_other_packets actid 3
$TC p4template update action/default_hit_const_example/MainControlImpl/tcp_other_packets state active

$TC p4template create table/default_hit_const_example/MainControlImpl/set_ct_options \
	tblid 1 \
	type ternary \
	keysz 8 permissions 0x3da4 tentries 1024 nummasks 8 \
	table_acts act name default_hit_const_example/MainControlImpl/tcp_syn_packet \
	act name default_hit_const_example/MainControlImpl/tcp_fin_or_rst_packet \
	act name default_hit_const_example/MainControlImpl/tcp_other_packets
$TC p4template update table/default_hit_const_example/MainControlImpl/set_ct_options default_hit_action permissions 0x1024 action default_hit_const_example/MainControlImpl/tcp_fin_or_rst_packet
$TC p4template update table/default_hit_const_example/MainControlImpl/set_ct_options default_miss_action permissions 0x1024 action default_hit_const_example/MainControlImpl/tcp_other_packets
$TC p4template update pipeline/default_hit_const_example state ready