#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/default_action_example_01 numtables 2

$TC p4template create action/default_action_example_01/MainControlImpl/next_hop actid 1 \
	param vport type bit32
$TC p4template update action/default_action_example_01/MainControlImpl/next_hop state active

$TC p4template create action/default_action_example_01/MainControlImpl/default_route_drop actid 2
$TC p4template update action/default_action_example_01/MainControlImpl/default_route_drop state active

$TC p4template create table/default_action_example_01/MainControlImpl/ipv4_tbl_1 \
	tblid 1 \
	type exact \
	keysz 64 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name default_action_example_01/MainControlImpl/next_hop \
	act name default_action_example_01/MainControlImpl/default_route_drop \
	act name NoAction flags defaultonly

$TC p4template create table/default_action_example_01/MainControlImpl/ipv4_tbl_2 \
	tblid 2 \
	type exact \
	keysz 72 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name NoAction flags defaultonly
$TC p4template update pipeline/default_action_example_01 state ready