#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/drop_packet_example numtables 1

$TC p4template create action/drop_packet_example/MainControlImpl/next_hop actid 1 \
	param vport type bit32
$TC p4template update action/drop_packet_example/MainControlImpl/next_hop state active

$TC p4template create action/drop_packet_example/MainControlImpl/default_route_drop actid 2
$TC p4template update action/drop_packet_example/MainControlImpl/default_route_drop state active

$TC p4template create table/drop_packet_example/MainControlImpl/ipv4_tbl \
	tblid 1 \
	type exact \
	keysz 32 nummasks 8 tentries 2048 \
	table_acts act name drop_packet_example/MainControlImpl/next_hop \
	act name drop_packet_example/MainControlImpl/default_route_drop
$TC p4template update table/drop_packet_example/MainControlImpl/ipv4_tbl default_miss_action action drop_packet_example/MainControlImpl/default_route_drop
$TC p4template update pipeline/drop_packet_example state ready