#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/indirect_counter_01_example numtables 1

$TC p4template create action/indirect_counter_01_example/ingress/send_nh actid 1 \
	param port_id type dev \
	param dmac type macaddr \
	param smac type macaddr
$TC p4template update action/indirect_counter_01_example/ingress/send_nh state active

$TC p4template create action/indirect_counter_01_example/ingress/drop actid 2
$TC p4template update action/indirect_counter_01_example/ingress/drop state active

$TC p4template create extern/root/Counter extid 0x19000000 numinstances 1 tc_acl 0x1136 has_exec_method

$TC p4template create extern_inst/indirect_counter_01_example/Counter/ingress.global_counter instid 1 \
tc_numel 2048 \
constructor param type ptype bit32 0 \
control_path tc_key index ptype bit32 id 1 param pkts ptype bit64 id 2

$TC p4template create table/indirect_counter_01_example/ingress/nh_table \
	tblid 1 \
	type exact \
	keysz 32 permissions 0x3da4 tentries 2048 nummasks 1 \
	table_acts act name indirect_counter_01_example/ingress/send_nh \
	act name indirect_counter_01_example/ingress/drop
$TC p4template update table/indirect_counter_01_example/ingress/nh_table default_miss_action permissions 0x1024 action indirect_counter_01_example/ingress/drop
$TC p4template update pipeline/indirect_counter_01_example state ready