#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/multiple_tables_example_02 numtables 7

$TC p4template create action/multiple_tables_example_02/MainControlImpl/next_hop actid 1 \
	param vport type bit32
$TC p4template update action/multiple_tables_example_02/MainControlImpl/next_hop state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/default_route_drop actid 2
$TC p4template update action/multiple_tables_example_02/MainControlImpl/default_route_drop state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/sendtoport actid 3
$TC p4template update action/multiple_tables_example_02/MainControlImpl/sendtoport state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/drop actid 4
$TC p4template update action/multiple_tables_example_02/MainControlImpl/drop state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/tcp_syn_packet actid 5
$TC p4template update action/multiple_tables_example_02/MainControlImpl/tcp_syn_packet state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet actid 6
$TC p4template update action/multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet state active

$TC p4template create action/multiple_tables_example_02/MainControlImpl/tcp_other_packets actid 7
$TC p4template update action/multiple_tables_example_02/MainControlImpl/tcp_other_packets state active

$TC p4template create table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_1 \
	tblid 1 \
	type exact \
	keysz 32 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name multiple_tables_example_02/MainControlImpl/next_hop flags tableonly \
	act name multiple_tables_example_02/MainControlImpl/default_route_drop
$TC p4template update table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_1 default_miss_action action multiple_tables_example_02/MainControlImpl/default_route_drop

$TC p4template create table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_2 \
	tblid 2 \
	type exact \
	keysz 72 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name multiple_tables_example_02/MainControlImpl/next_hop \
	act name multiple_tables_example_02/MainControlImpl/drop flags defaultonly
$TC p4template update table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_2 default_miss_action action multiple_tables_example_02/MainControlImpl/drop

$TC p4template create table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_3 \
	tblid 3 \
	type exact \
	keysz 67 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name multiple_tables_example_02/MainControlImpl/sendtoport \
	act name multiple_tables_example_02/MainControlImpl/drop \
	act name NoAction flags defaultonly

$TC p4template create table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_4 \
	tblid 4 \
	type exact \
	keysz 77 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name multiple_tables_example_02/MainControlImpl/sendtoport \
	act name multiple_tables_example_02/MainControlImpl/drop \
	act name NoAction

$TC p4template create table/multiple_tables_example_02/MainControlImpl/ipv4_tbl_5 \
	tblid 5 \
	type exact \
	keysz 13 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name NoAction

$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_ct_options \
	tblid 6 \
	type ternary \
	keysz 8 permissions 0x3da4 tentries 1024 nummasks 8 \
	table_acts act name multiple_tables_example_02/MainControlImpl/tcp_syn_packet \
	act name multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet \
	act name multiple_tables_example_02/MainControlImpl/tcp_other_packets
$TC p4template update table/multiple_tables_example_02/MainControlImpl/set_ct_options default_miss_action permissions 0x1024 action multiple_tables_example_02/MainControlImpl/tcp_other_packets

$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options \
	tblid 7 \
	type exact \
	keysz 64 permissions 0x3da4 tentries 1024 nummasks 1 \
	table_acts act name multiple_tables_example_02/MainControlImpl/next_hop \
	act name multiple_tables_example_02/MainControlImpl/default_route_drop \
	act name multiple_tables_example_02/MainControlImpl/tcp_syn_packet \
	act name multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet \
	act name multiple_tables_example_02/MainControlImpl/tcp_other_packets \
	act name multiple_tables_example_02/MainControlImpl/sendtoport \
	act name multiple_tables_example_02/MainControlImpl/drop \
	act name NoAction
$TC p4template update table/multiple_tables_example_02/MainControlImpl/set_all_options default_miss_action permissions 0x1024 action multiple_tables_example_02/MainControlImpl/drop
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x1000 hdr.tcp.srcPort 0x10 hdr.ipv4.fragOffset 10 hdr.ipv4.flags 1 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/tcp_syn_packet
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x2000 hdr.tcp.srcPort 0x20 hdr.ipv4.fragOffset 20 hdr.ipv4.flags 2 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x3000 hdr.tcp.srcPort 0x30 hdr.ipv4.fragOffset 30 hdr.ipv4.flags 3 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/tcp_fin_or_rst_packet
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x4000 hdr.tcp.srcPort 0x40 hdr.ipv4.fragOffset 40 hdr.ipv4.flags 4 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/default_route_drop
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x5000 hdr.tcp.srcPort 0x50 hdr.ipv4.fragOffset 50 hdr.ipv4.flags 5 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/next_hop
$TC p4template create table/multiple_tables_example_02/MainControlImpl/set_all_options entry hdr.ipv4.srcAddr 0x6000 hdr.tcp.srcPort 0x60 hdr.ipv4.fragOffset 60 hdr.ipv4.flags 6 permissions 0x1024 action multiple_tables_example_02/MainControlImpl/sendtoport
$TC p4template update pipeline/multiple_tables_example_02 state ready