#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/noaction_example_01 numtables 2

$TC p4template create action/noaction_example_01/MainControlImpl/next_hop actid 1 \
	param vport type bit32
$TC p4template update action/noaction_example_01/MainControlImpl/next_hop state active

$TC p4template create action/noaction_example_01/MainControlImpl/default_route_drop actid 2
$TC p4template update action/noaction_example_01/MainControlImpl/default_route_drop state active

$TC p4template create action/noaction_example_01/MainControlImpl/sendtoport actid 3 \
	param vport type bit32
$TC p4template update action/noaction_example_01/MainControlImpl/sendtoport state active

$TC p4template create action/noaction_example_01/MainControlImpl/drop actid 4
$TC p4template update action/noaction_example_01/MainControlImpl/drop state active

$TC p4template create table/noaction_example_01/MainControlImpl/ipv4_tbl_1 \
	tblid 1 \
	type exact \
	keysz 32 nummasks 8 tentries 2048 \
	table_acts act name noaction_example_01/MainControlImpl/next_hop \
	act name noaction_example_01/MainControlImpl/default_route_drop
$TC p4template update table/noaction_example_01/MainControlImpl/ipv4_tbl_1 default_miss_action action noaction_example_01/MainControlImpl/default_route_drop

$TC p4template create table/noaction_example_01/MainControlImpl/ipv4_tbl_2 \
	tblid 2 \
	type exact \
	keysz 67 nummasks 8 tentries 1024 \
	table_acts act name noaction_example_01/MainControlImpl/sendtoport \
	act name noaction_example_01/MainControlImpl/drop
$TC p4template update pipeline/noaction_example_01 state ready