#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/nummask_annotation_example numtables 1

$TC p4template create action/nummask_annotation_example/MainControlImpl/tcp_syn_packet actid 1
$TC p4template update action/nummask_annotation_example/MainControlImpl/tcp_syn_packet state active

$TC p4template create action/nummask_annotation_example/MainControlImpl/tcp_fin_or_rst_packet actid 2
$TC p4template update action/nummask_annotation_example/MainControlImpl/tcp_fin_or_rst_packet state active

$TC p4template create action/nummask_annotation_example/MainControlImpl/tcp_other_packets actid 3
$TC p4template update action/nummask_annotation_example/MainControlImpl/tcp_other_packets state active

$TC p4template create table/nummask_annotation_example/MainControlImpl/set_ct_options \
	tblid 1 \
	type lpm \
	keysz 8 nummasks 64 tentries 2048 \
	table_acts act name nummask_annotation_example/MainControlImpl/tcp_syn_packet \
	act name nummask_annotation_example/MainControlImpl/tcp_fin_or_rst_packet \
	act name nummask_annotation_example/MainControlImpl/tcp_other_packets
$TC p4template update table/nummask_annotation_example/MainControlImpl/set_ct_options default_hit_action action nummask_annotation_example/MainControlImpl/tcp_syn_packet
$TC p4template update table/nummask_annotation_example/MainControlImpl/set_ct_options default_miss_action permissions 0x1024 action nummask_annotation_example/MainControlImpl/tcp_other_packets
$TC p4template update pipeline/nummask_annotation_example state ready