#!/bin/bash -x

set -e

: "${TC:="tc"}"
$TC p4template create pipeline/simple_ternary_example numtables 1

$TC p4template create action/simple_ternary_example/ingress/send_nh actid 1 \
	param port_id type dev \
	param dmac type macaddr \
	param smac type macaddr
$TC p4template update action/simple_ternary_example/ingress/send_nh state active

$TC p4template create action/simple_ternary_example/ingress/drop actid 2
$TC p4template update action/simple_ternary_example/ingress/drop state active

$TC p4template create table/simple_ternary_example/ingress/nh_table \
	tblid 1 \
	type ternary \
	keysz 64 permissions 0x3da4 tentries 262144 nummasks 8 \
	table_acts act name simple_ternary_example/ingress/send_nh \
	act name simple_ternary_example/ingress/drop
$TC p4template update table/simple_ternary_example/ingress/nh_table default_miss_action permissions 0x1024 action simple_ternary_example/ingress/drop
$TC p4template update pipeline/simple_ternary_example state ready