#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/tc_may_override_example_06 numtables 2

$TC p4template create action/tc_may_override_example_06/MainControlImpl/next_hop actid 1 \
	param vport type dev
$TC p4template update action/tc_may_override_example_06/MainControlImpl/next_hop state active

$TC p4template create action/tc_may_override_example_06/MainControlImpl/default_route_drop actid 2
$TC p4template update action/tc_may_override_example_06/MainControlImpl/default_route_drop state active

$TC p4template create action/tc_may_override_example_06/MainControlImpl/drop actid 3
$TC p4template update action/tc_may_override_example_06/MainControlImpl/drop state active

$TC p4template create table/tc_may_override_example_06/MainControlImpl/ipv4_tbl_1 \
	tblid 1 \
	type exact \
	keysz 64 nummasks 8 tentries 2048 \
	table_acts act name tc_may_override_example_06/MainControlImpl/next_hop \
	act name tc_may_override_example_06/MainControlImpl/default_route_drop
$TC p4template update table/tc_may_override_example_06/MainControlImpl/ipv4_tbl_1 default_miss_action action tc_may_override_example_06/MainControlImpl/next_hop param vport flags runtime

$TC p4template create table/tc_may_override_example_06/MainControlImpl/ipv4_tbl_2 \
	tblid 2 \
	type exact \
	keysz 72 nummasks 8 tentries 2048 \
	table_acts act name tc_may_override_example_06/MainControlImpl/next_hop \
	act name tc_may_override_example_06/MainControlImpl/drop
$TC p4template update table/tc_may_override_example_06/MainControlImpl/ipv4_tbl_2 default_miss_action action tc_may_override_example_06/MainControlImpl/next_hop param vport flags runtime
$TC p4template update pipeline/tc_may_override_example_06 state ready