#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/tc_type_annotation_example numtables 2

$TC p4template create action/tc_type_annotation_example/MainControlImpl/next_hop actid 1 \
	param vport type dev
$TC p4template update action/tc_type_annotation_example/MainControlImpl/next_hop state active

$TC p4template create action/tc_type_annotation_example/MainControlImpl/default_route_drop actid 2 \
	param ipv4addr type ipv4
$TC p4template update action/tc_type_annotation_example/MainControlImpl/default_route_drop state active

$TC p4template create table/tc_type_annotation_example/MainControlImpl/ipv4_tbl_1 \
	tblid 1 \
	type exact \
	keysz 32 nummasks 8 tentries 2048 \
	table_acts act name tc_type_annotation_example/MainControlImpl/next_hop \
	act name tc_type_annotation_example/MainControlImpl/default_route_drop

$TC p4template create table/tc_type_annotation_example/MainControlImpl/ipv4_tbl_2 \
	tblid 2 \
	type exact \
	keysz 3 nummasks 8 tentries 1024
$TC p4template update pipeline/tc_type_annotation_example state ready