#!/bin/bash -x

set -e

TC="tc"
$TC p4template create pipeline/test_ipv6_example numtables 1

$TC p4template create action/test_ipv6_example/MainControlImpl/set_dst actid 1 \
	param addr6 type bit128
$TC p4template update action/test_ipv6_example/MainControlImpl/set_dst state active

$TC p4template create table/test_ipv6_example/MainControlImpl/tbl_default \
	tblid 1 \
	type exact \
	keysz 128 nummasks 8 tentries 100 \
	table_acts act name test_ipv6_example/MainControlImpl/set_dst
$TC p4template update table/test_ipv6_example/MainControlImpl/tbl_default default_miss_action action test_ipv6_example/MainControlImpl/set_dst param addr6 0xffff111122223333444455556666aaaa
$TC p4template update pipeline/test_ipv6_example state ready