.card-container {
  display: flex;
  gap: 2rem;
  margin: 40px 0;
}

.card-item {
  box-shadow: 0 4px 8px rgb(169, 213, 112);
  transition: transform 0.3s ease, box-shadow 0.3s;
  border-radius: 10px;
  flex: 1 1 45%;
  padding: 16px;
}

.card-item:hover {
  box-shadow: 0 8px 16px rgb(114, 86, 185);
  transform: translateY(-5px); /* Slightly lift the card */
  z-index: 2; /* Ensure it's above other cards */
}

.card-content {
  padding: 20px 16px;
}

.card-container::after {
  content: "";
  display: table;
  clear: both;
}

.card-item a {
  text-decoration: none;
}

.card-content a.hidden-link {
  visibility: hidden;
}

.card-content a.hidden-link svg {
  display: none;
}

.card-item h2 {
  color: var(--page-foreground);
}

.card-item p {
  font-size: 0.9rem;
  color: var(--page-foreground);
  line-height: 1.6;
  margin-top: 1em;
}

.command-section {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.command-section .fragment {
  padding: 0 3em;
  margin: 0;
}

.command-section .fragment .line {
  text-align: center;
}

.card-content svg {
  height: 80px;
  width: 80px;
}

.card-content svg path {
  stroke: var(--page-foreground-color);
  fill: var(--page-background-color);
  /* stroke-width: 1.5; */
}

/* small devices */
@media (max-width: 700px) {
 .card-container {
    flex-direction: column;
  }

 .card-item {
    flex: 1 1 100%; /* Take full width on small devices */
  }
}

/* Medium devices */
@media (min-width: 701px) and (max-width: 900px) {
 .card-item {
    flex: 1 1 50%; /* width for tablets */
  }
}
