html {
--primary-color : #8cc63f ;
--primary-dark-color : #4b6c21 ;
--primary-light-color : #c4f0a1 ;
--side-nav-fixed-width: 335px;
}

html.dark-mode {
    --primary-color : #8cc63f; 
	--primary-dark-color : #4b6c21;
	--primary-light-color : #c4f0a1 ;
}
