# Enable Bzlmod.
common --enable_bzlmod
common --noenable_workspace

# Use C++20.
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# Force the use of Clang for all builds.
build --action_env=CC=clang
build --action_env=CXX=clang++
