# SPDX-FileCopyrightText: 2013 Barefoot Networks, Inc.
#
# SPDX-License-Identifier: Apache-2.0

# -*- Python -*-

from p4c_src.driver import BackendDriver

class EBPFBackend(BackendDriver):
    def __init__(self, target, arch, argParser):
        BackendDriver.__init__(self, target, arch, argParser)
        # commands
        self.add_command('preprocessor', 'cc')
        self.add_command('compiler', os.path.join(os.environ['P4C_BIN_DIR'],'p4c-ebpf'))
        # order of commands
        self.enable_commands(['preprocessor', 'compiler'])

        # options
        self.add_command_option('preprocessor', "-E")

    def process_command_line_options(self, opts):
        BackendDriver.process_command_line_options(self, opts)

        # process the options related to source file
        basepath = "{}/{}".format(self._output_directory, self._source_basename)
        # preprocessor
        ebpf_target.add_command_option('preprocessor', "-o")
        ebpf_target.add_command_option('preprocessor', "'{}.p4i'".format(basepath))
        ebpf_target.add_command_option('preprocessor', "'{}'".format(self._source_filename))

        # compiler
        ebpf_target.add_command_option('compiler', "-o")
        ebpf_target.add_command_option('compiler', "'{}.json'".format(basepath))
        ebpf_target.add_command_option('compiler', "'{}.p4i'".format(basepath))


# target
ebpf_target = EBPFBackend('ebpf', 'v1model', argParser)
config.target.append(ebpf_target)
