# Copyright 2013-present Barefoot Networks, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# -*- Python -*-

from p4c_src.driver import BackendDriver

class BMV2Backend(BackendDriver):
    def __init__(self, target, arch, argParser):
        BackendDriver.__init__(self, target, arch, argParser)

        # commands
        self.add_command('preprocessor', 'cc')
        self.add_command('compiler',
                         os.path.join(os.environ['P4C_BIN_DIR'],'p4c-bm2-ss'))
        # order of invocation
        self.enable_commands(['preprocessor', 'compiler'])

        # options
        self.add_command_option('preprocessor', "-E")


    def process_command_line_options(self, opts):
        BackendDriver.process_command_line_options(self, opts)

        # process the options related to source file
        basepath = "{}/{}".format(opts.output_directory, self._source_basename)
        # preprocessor
        self.add_command_option('preprocessor', "-o")
        self.add_command_option('preprocessor', "{}.p4i".format(basepath))
        self.add_command_option('preprocessor', self._source_filename)

        # compiler
        self.add_command_option('compiler', "-o")
        self.add_command_option('compiler', "{}.json".format(basepath))
        self.add_command_option('compiler', "{}.p4i".format(basepath))
        self.add_command_option('compiler', "--arch")
        self.add_command_option('compiler', self._arch)


# target
simple_switch_target = BMV2Backend('bmv2', 'v1model', argParser)
config.target.append(simple_switch_target)

# PSA implementation on BMv2
psa_target = BackendDriver('bmv2', 'psa')
psa_target.add_command('none', \
        '/bin/echo "target ' + str(psa_target) + ' not yet implemented"')
psa_target.enable_commands(['none'])
config.target.append(psa_target)
