# Copyright 2013-present Barefoot Networks, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# -*- Python -*-

from p4c_src.driver import BackendDriver

class DPDKBackend(BackendDriver):
    def __init__(self, target, arch, argParser):
        BackendDriver.__init__(self, target, arch, argParser)
        # commands
        self.add_command('preprocessor', 'cc')
        self.add_command('compiler', os.path.join(os.environ['P4C_BIN_DIR'],'p4c-dpdk'))
        self.add_command('cleaner', 'rm')

        # order of commands
        self.enable_commands(['preprocessor', 'compiler', 'cleaner'])

        # options
        self.add_command_option('preprocessor', "-E")

        # additional options
        self.add_command_line_options()

    def add_command_line_options(self):
        self._argGroup = self._argParser.add_argument_group("DPDK specific options")
        self._argGroup.add_argument("--bf-rt-schema", action="store", default=None,
                        help="Generate and write BF-RT JSON schema  to the specified file")
        self._argGroup.add_argument("--context", action="store", default=None,
                        help="Generate and write context Json to the specified file")

    def process_command_line_options(self, opts):
        BackendDriver.process_command_line_options(self, opts)

        # process the options related to source file
        basepath = os.path.join(self._output_directory, self._source_basename)
        # preprocessor
        if opts.language == "p4-16":
            dpdk_target.add_command_option('preprocessor', "-I")
            dpdk_target.add_command_option('preprocessor',
                    os.path.join(os.environ['P4C_16_INCLUDE_PATH'], 'dpdk'))
        dpdk_target.add_command_option('preprocessor', "-o")
        dpdk_target.add_command_option('preprocessor', "'{}.p4i'".format(basepath))
        dpdk_target.add_command_option('preprocessor', "'{}'".format(self._source_filename))

        # compiler
        if opts.language == "p4-16":
            dpdk_target.add_command_option('compiler', "-I")
            dpdk_target.add_command_option('compiler',
                    os.path.join(os.environ['P4C_16_INCLUDE_PATH'], 'dpdk'))
        dpdk_target.add_command_option('compiler', "-o")
        dpdk_target.add_command_option('compiler', "'{}.spec'".format(basepath))
        dpdk_target.add_command_option('compiler', "'{}.p4i'".format(basepath))
        dpdk_target.add_command_option('compiler', "--arch")
        dpdk_target.add_command_option('compiler', self._arch)

        if opts.bf_rt_schema is not None:
            self.add_command_option('compiler', '--bf-rt-schema {}'.format(opts.bf_rt_schema))

        if opts.context is not None:
            self.add_command_option('compiler', '--context {}'.format(opts.context))

        # cleanup
        dpdk_target.add_command_option('cleaner', "'{}.p4i'".format(basepath))

# target
dpdk_target = DPDKBackend('dpdk', 'psa', argParser)
config.target.append(dpdk_target)
